 
 body { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    background-color: #016f32;
    text-align: center;
    color: white;
    font-weight: bold;
    
     
    @media screen and (max-width: 600px) {
         
        font-size: 14px;
        padding: 5px;
    }
 }


h1 {
    
    color: goldenrod;
}
 
#message-el {

 
    font-style: italic;
}
 

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(0.9);
}

button {
    display: block;
    margin: 10px auto;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color:  goldenrod;
    color: white;
    border: none;
    border-radius: 10px;
  } 
   


  
   
 